body{
  background-color: #eaf6f6;
}

img{
  height: 200px;
  width:200px;
}
a{
  text-decoration: none;
}
table{
  border:2px solid black;
}
#intro{
  border:none;
}
h1,h3{
  color: #66bfbf;
}
h1:hover{
  transform: scaleY(1.5);
  
}
.footer{
  background-color:grey;
}
.footer span{
  margin-left: 45%;
  font-size:2em;
  color:#66bfbf;
}
.footer span:hover{
  color:aqua;
 
}
a:hover{
  color:grey;
}
